@import url('https://fonts.googleapis.com/css2?family=Abel&family=Karla:wght@200&display=swap');
* {
	padding: 0;
	margin: 0;
    font-family: 'Karla', sans-serif;
}
canvas {
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
    background: rgb(133,214,209);
    background: linear-gradient(0deg, rgba(133,214,209,1) 0%, rgba(214,223,223,1) 18%, rgba(189,226,225,1) 39%, rgba(166,198,198,1) 50%, rgba(124,170,172,1) 75%, rgba(135,182,185,1) 100%);
}

.webpage {
    position: absolute;
    cursor: pointer;
    outline: none;
    border: none;
    position: absolute;
    border-radius: 50px;
    padding: 20px 30px;
    font-style: bold;
    left: 80%;
    top: 5%;
    z-index: 10;
    font-style: bold;
}

h1 {
    position: absolute;
    color: brown;
    padding: 0px;
    font-size: xx-large;
    left: 3%;
    top: 5%;
    z-index: 11;

}