@import url('https://fonts.googleapis.com/css2?family=Abel&family=Raleway:wght@100&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Abel', sans-serif;
}
body {
    background-color: black;
    overflow: hidden;
}

.background{

    position: absolute;
    z-index: 0;
}

.container {
    width: 100%;
    height: 70vh;
    background-color: rgb(0, 0, 0);
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar{
    height: 80px;
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    position: sticky;
    top: 0;
    z-index: 98;

}

.navbar__container{
    display: flex;
    justify-content: space-between;
    height: 80px;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 50px;
}

#navbar__logo{
    background-color: #6a9552;
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color:transparent;
    display: flex;
    align-items: center;
    cursor: pointer;
    font-size: 1.3rem;
    -webkit-animation: logo 2s ease-in-out infinite alternate;
}

#navbar__logo:hover {
    background-color: #6a9552;
}

@-webkit-keyframes logo {
    from {}
    to {text-shadow: 0 0 1px #ffffff, 0 0 1px #ffffff, 0 0 1px #ffffff; }
    } 

.navbar__menu{
    display: flex;
    align-items: center;
    list-style: none;
    text-align: center;
}

.navbar__item{
    height: 80px;
}

.navbar__links{
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    padding: 0 1rem;
    height: 100%;
}

.navbar__links:hover{
    color: #6a9552;
}


form {
    position: absolute;
    top: 15%;
    left: 5%;
    background: rgb(136,184,136);
    background: radial-gradient(circle, rgba(136,184,136,0.9346113445378151) 21%, rgba(106,149,82,0.592874649859944) 50%, rgba(25,32,22,0) 67%);
    display: flex;
    flex-direction: column;
    padding: 2vw 4vw;
    width: 90%;
    height: 80vh;
    max-width: 600px;
    border-radius: 50px;
    z-index: 10;

}

form h3, .linkedin {
    color: #a7d4a7;
    font-weight: 800;
    margin:5px;
}

form input, form textarea{
    border: 0;
    margin:10px 0;
    padding: 20px;
    outline: none;
    opacity: 90%;
    border-radius: 20px;
    background-color: rgb(0, 0, 0);
    color: wheat;
    font-size: 16px;
}

form button {
    padding: 15px;
    background: #6a9552;
    color: black;
    font-size: 18px;
    border: 0;
    outline: none;
    cursor: pointer;
    width: 150px;
    margin: 20px auto 0;
    border-radius: 30px;
}

.effect1 {
    position: absolute;
    height: 300px;
    width: 300px;
    transform: scale(1.4);
    justify-content: center;
    align-items: center;
    z-index: 5;
    top: 30%;
    left: 60%;
}


.formContainer{
    display: flex;
    flex-direction: column;
}

.loader {
    position: fixed;
    z-index: 99;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: black;
}

.loader.hidden {
    animation: fadeOut 3s;
    animation-fill-mode: forwards;
    }
    
    @keyframes fadeOut {
        100%{
                opacity: 0;
                visibility: hidden;
            }
        }


.firework {
	position: absolute;
}
.explosion {
	position: absolute;
	left: -2px;
	bottom: 0;
	width: 4px;
	height: 80px;
	transform-origin: 50% 100%;
	overflow: hidden;
}
.explosion:nth-child(1) {
	transform: rotate(0deg) translateY(-15px);
}
.explosion:nth-child(2) {
	transform: rotate(30deg) translateY(-15px);
}
.explosion:nth-child(3) {
	transform: rotate(60deg) translateY(-15px);
}
.explosion:nth-child(4) {
	transform: rotate(90deg) translateY(-15px);
}
.explosion:nth-child(5) {
	transform: rotate(120deg) translateY(-15px);
}
.explosion:nth-child(6) {
	transform: rotate(150deg) translateY(-15px);
}
.explosion:nth-child(7) {
	transform: rotate(180deg) translateY(-15px);
}
.explosion:nth-child(8) {
	transform: rotate(210deg) translateY(-15px);
}
.explosion:nth-child(9) {
	transform: rotate(240deg) translateY(-15px);
}
.explosion:nth-child(10) {
	transform: rotate(270deg) translateY(-15px);
}
.explosion:nth-child(11) {
	transform: rotate(300deg) translateY(-15px);
}
.explosion:nth-child(12) {
	transform: rotate(330deg) translateY(-15px);
}

.explosion::before {
	content: '';
	position: absolute;
	left: 0;
	right: 0;
	top: 100%;
	height: 40px;
	background-color: #6a9552;
}
@keyframes explosion {
	0% {
		top: 100%;
	}
	33%, 100% {
		top: -50%;
	}
}

#firework1 {
	top: 40%;
    left: 70%;
	transform: scale(1.4);
}
#firework1 .explosion::before {
	animation: explosion 2s ease-in-out infinite;
}

#firework2 {
	top: 49%;
    left: 58%;
	transform: scale(.7);
}
#firework2 .explosion::before {
	animation: explosion 1s .8s ease-in-out infinite;
}

#firework3 {
	top: 40%;
    left: 85%;
	transform: scale(.4);
}
#firework3 .explosion::before {
	animation: explosion 2s .5s ease-in-out infinite;
}
#firework4 {
	top: 60%;
    left: 75%;
	transform: scale(.8);
}
#firework4 .explosion::before {
	animation: explosion 1.4s .9s ease-in-out infinite;
}

#firework5 {
	top: 60%;
    left: 68%;
	transform: scale(.4);
}
#firework5 .explosion::before {
	animation: explosion 2s .4s ease-in-out infinite;
}

#firework6 {
	top: 68%;
    left: 70%;
	transform: scale(.9);
}
#firework6 .explosion::before {
	animation: explosion 1.4s .3s ease-in-out infinite;
}
#firework7 {
	top: 68%;
    left: 80%;
	transform: scale(.5);
}
#firework7 .explosion::before {
	animation: explosion 2.4s ease-in-out infinite;
}
.image {
    position: absolute;
    top: 27%;
    left: 55%;
    width: 400px;
    height: 400px;
    z-index: 0;
    transform: scale(.7);
}

.button {
    position: absolute;
    z-index: 50;
    top: 5%;
    left: 10%;
    color: #6a9552;
    font-weight: bold;
}

        